.portada {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.gif-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.portada h1 {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 48px;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.8);
    z-index: 3;
    text-align: center;
}

.menu-btn {
    font-size: 32px;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 6;
    color: white;
}

.sidebar {
    width: 260px;
    background: #0b132b;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -260px;
    transition: left 0.35s ease;
    padding-top: 80px;
    z-index: 5;
}

#menu-toggle:checked ~ .sidebar {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 22px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: background 0.25s;
}

.sidebar li a:hover {
    background: #1c2541;
}

/* ESTILOS DE LA VISTA "como concnurntr eturgi tu PID" */



.HOWTO{
    display:block;
    background-color: #0b132b;
}


.construirPID {
    position: relative;
    width: 100%;
}

.PID  {
    display:flex;
    border-radius: 10px;
    font-size: 50px;
    background-color: rgba(101, 255, 178, 0.438);
    position: relative;
    width: 630px;
    left: 350px;
    margin-top:-750px;
    color:rgb(218, 218, 218);
}
.cuadrados1{
    justify-content: center;
    position: relative;
    display: flex;
    margin-top:200px;
    align-items: center;
    
    gap: 10px;
}

.cuadrado {
    width: 250px;
    height: 8%;
    background: rgba(67, 111, 255, 0.699);
    border-radius: 10px;
    top: 100px;
}
.cuadrado h2 {
    align-self: center;
    text-align: center;

}
.cuadrados2{
    
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    gap: 10px;
}
.cuadrado2 {
    width: 250px;
    align-self: center;
    align-items: center;
    text-align: center;
    height: 500px;
    background: rgb(93, 131, 255);
    border-radius: 10px;
    top: 90px;
}
.IMGHTB{
        width: 100%; 
        margin-top: -5px; 
        border-radius: 6px;
    }

    /*estilos de la vista conceptos*/

.cptos{
    background-color: steelblue;
    
}
.t1{
    width:800px;
    left:250px;
    top: -600px;
    position:relative;
    text-align: center;
    border-radius: 10px;
    background-color: aquamarine; 

}
.text{
    position: relative;
}
.texto1{
    display:flex;
    top:-500px;
    align-self: center;
    text-align: center;
    align-items: center;
    position: relative;
    width: 400px;
    height: 80px;
    left: 240px;
    border-radius: 10px;
    background-color: bisque;
}
.texto2{
    display:flex;
    align-self: center;
    text-align: center;
    align-items: center;
    position: relative;
    top:-470px;
    width: 150px;
    height: 50px;
    right: -260px;
    border-radius: 10px;
    background-color: bisque;
}
.texto3{
    display:flex;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: chartreuse;
    border-radius: 10px;
    width: 600px;
    top:-450px;
    height:100px;
    right:-280px;
}
.texto4{
    display:flex;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: chartreuse;
    border-radius: 10px;
    width: 600px;
    top:-440px;
    height:100px;
    right:-280px;
}
.texto5{
    display:flex;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: chartreuse;
    border-radius: 10px;
    width: 600px;
    top:-430px;
    height:100px;
    right:-280px;
}
.texto6{
    display:flex;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: chartreuse;
    border-radius: 10px;
    width: 600px;
    top:-420px;
    height:100px;
    right:-280px;
}
.t2{
    width:500px;
    left:250px;
    top: -400px;
    position:relative;
    text-align: center;
    border-radius: 10px;
    background-color: bisque;
}
.PIDMG{
     width: 100%; 
        margin-top: -5px; 
        border-radius: 6px;

}
.bont{
      justify-content: center;
    position: relative;
    align-items: center;
    display:flex;
    flex-direction: column;
    gap: 20px;
    top:-800px;
    left:250px;



}
.bonta{
    width: 270px;
    height: 8%;
    background: rgba(5, 96, 102, 0.699);
    border-radius: 10px;
    top: 100px;
}